In [11]:
import os
import pandas as pd
import camelot
from tqdm import tqdm

In [14]:
import os
import pandas as pd
from tqdm import tqdm
import camelot

def read_pdf(directory: str):
    # Iterate over all files in the given directory
    for filename in os.listdir(directory):
        if filename.endswith(".pdf"):
            pdf_path = os.path.join(directory, filename)
            print(f"Processing {filename}...")
            all_tables = pd.DataFrame()

            # Get the number of pages in the PDF using camelot to extract from all pages
            all_page_tables_list = camelot.read_pdf(pdf_path, pages='all', strip_text='\n')
            for table in tqdm(all_page_tables_list):
                tab = table.df
                tab.columns = [None] * len(tab.columns)
                tab = tab.iloc[1:-1]  # Skip header and footer rows
                all_tables = pd.concat([all_tables, tab], axis=0, ignore_index=True)

            # Drop the 9th column if it exists
            if all_tables.shape[1] > 8:
                all_tables = pd.concat([all_tables.iloc[:, :8], all_tables.iloc[:, 9:]], axis=1)

            # Rename columns
            all_tables.columns = ['Agreement Number', 'Disbursement Date', 'Loan Amount', 'Number of Ornaments', 
                                  'Gross Auction Weight of Ornaments(gm)', 'Auction Date', 'Auction Place', 
                                  'Branch Address']

            # Save the DataFrame as CSV
            csv_filename = os.path.splitext(filename)[0] + '.csv'
            all_tables.to_csv(csv_filename, index=False)
            print(f"Saved {csv_filename}")

In [ ]:
read_pdf('../Data/')

In [52]:


# Specify the directory containing the CSV files
directory = '../Data/'

# Initialize an empty list to store DataFrames
dataframes = []

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        # Read the CSV file
        df = pd.read_csv(os.path.join(directory, filename))
        # Append the DataFrame to the list
        dataframes.append(df)

# Concatenate all DataFrames into a single DataFrame
df_data = pd.concat(dataframes, ignore_index=True)

In [53]:
df_data

,Agreement Number,Disbursement Date,Loan Amount,Number of Ornaments,Gross Auction Weight of Ornaments(gm),Auction Date,Auction Place,Branch Address
0,PV97SGL7830716,18-May-23,80099.0,1,21.1,12-Aug-24,Adilabad - Dwaraka nagar,"Mahajan Complex, First floor, Busstand road. D..."
1,PV97SGL7844024,19-May-23,57799.0,1,14.0,12-Aug-24,Adilabad - Dwaraka nagar,NaN
2,PV97SGL7918636,25-May-23,19599.0,1,5.2,12-Aug-24,Adilabad - Dwaraka nagar,NaN
3,PV97SGL8121108,13-Jun-23,48258.0,1,11.8,12-Aug-24,Adilabad - Dwaraka nagar,NaN
4,PV97SGL8143786,15-Jun-23,145174.0,1,35.5,12-Aug-24,Adilabad - Dwaraka nagar,NaN
...,...,...,...,...,...,...,...,...
32565,PGC4SGL8396436,08-Jul-23,15299.0,1,4.1,13-Sep-24,YELLANDU - BUGGAVAGU,NaN
32566,PER4SGL8382233,07-Jul-23,15299.0,1,3.9,13-Sep-24,Zahirabad - RTC Bus Stand,"D No. 2--13/1, 1st Floor, Pallod Complex, Subh..."
32567,PER4SGL8454082,13-Jul-23,27299.0,1,9.0,13-Sep-24,Zahirabad - RTC Bus Stand,NaN
32568,PER4SGL8479949,15-Jul-23,23099.0,1,5.9,13-Sep-24,Zahirabad - RTC Bus Stand,NaN
32569,PER4SGL8493744,17-Jul-23,163396.0,3,45.4,13-Sep-24,Zahirabad - RTC Bus Stand,NaN

In [54]:
df_data.to_csv('../Data/data.csv', index=False)